# IDE files
*.iml
.idea/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# OS
.DS_Store

# Gradle
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/

# Local config files
local.properties
secrets.properties
local.defaults.properties
/google-services.json

# Ignore app-specific sensitive files
app/src/main/res/values/strings.xml
app/src/main/AndroidManifest.xml

